.main-section{
    background-color: whitesmoke;
    padding-bottom: 20em
}

.title-text{
    margin-top: 5em;

}

.subtitle-text{
    margin-top: 2em;
    padding-right: 15em;
}

.main-image{
    margin: 2em;
}